#addform input {
  width: 90% !important;
}

#tasklist {
  padding: 0;
  width: 90%;
}

/* Tablets: min-width 600px */
@media screen and (min-width: 600px) {
  body {
    font-size: 17px;
  }

  #addform input {
    width: 70% !important;
  }

  #tasklist {
    width: 70%;
  }

  .navbar-brand {
    font-size: 2.5rem;
  }
}

/* Small laptops and landscape tablets: min-width 768px */
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }

  #addform input {
    width: 60% !important;
  }

  #tasklist {
    width: 60%;
  }

  .navbar-brand {
    font-size: 3rem;
  }
}

/* Laptops / Desktops: min-width 992px */
@media screen and (min-width: 992px) {
  body {
    font-size: 19px;
  }

  #addform input {
    width: 40% !important;
  }

  #tasklist {
    width: 40%;
  }

  .navbar-brand {
    font-size: 3.5rem;
  }
}

/* Large desktops and 4K displays or mobile in desktop view: min-width 1200px */
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }

  #addform input {
    width: 30% !important;
  }

  #tasklist {
    width: 30%;
  }

  .navbar-brand {
    font-size: 4rem;
  }
}
